---
---

html {
  scroll-behavior: smooth;
  color: #2e1f27;
}

body {
  overflow-x: hidden;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-custom {
  background-color: #000;
}

.navbar-custom a {
  color: #f58025 !important;
  font-size: 1.5em;
  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.navbar-custom .navbar-brand {
  font-size: 1.7em;
}

.navbar-custom a:hover {
  color: #ffbb75 !important;
  text-decoration: none;
}

h2 {
  font-size: 2.5em;
  color: #e77500;
  padding-top: 30px;
  font-family: 'Lato', sans-serif;
}

h4 {
  padding-left: 10px;
}

.h-title {
  font-size: 3em;
  margin-bottom: 0;
}

.h-line {
  padding-left: 30px;
  visibility: hidden;
}

.h-line::after {
  visibility: visible;
  content: "";
  width: 180px;
  height: 2px;
  display: inline-block;
  background: #e77500;
  margin: 20px 0px;
  margin-top: 0px;
}

.footer {
  background-color: #000;
  color:  #f58025;
}

.line {
  border-top: 1px solid #000000;
  width: 90% !important
}

.footer a {
  color:  #f58025;
}

.footer a:hover {
  color:  #f58025;
}

.content-container a {
  color: #e77500 !important;
  text-decoration: none;
}

.content-container a:hover {
  color: #ffbb75 !important;
  text-decoration: none;
}

.content-container ul {
  margin-left: 15px;
  padding-left: 10px;
  border-left: 2px solid #e77500;
  list-style-type: none;
}

.content-container li {
  margin-bottom: 5px;
}

.h-main {
  text-align: center;
  margin-bottom: 50px;
}

.img-home-logo {
  height: 40vh;
}

.home-bg-image {
  background-image: url('{{ site.baseurl }}/img/background_small.png');
  height: 60vh;
  align-items: center;
  justify-content: center;
}

.home-div {
    color: white;
}

.home-div h1 {
    font-family: 'Lato', sans-serif;
}

.info-text {
  font-size: 0.7em;
}

@media (min-width: 768px) {
  .info-text {
    font-size: 0.8em;
  }

  .home-bg-image {
    background-image: url('{{ site.baseurl }}/img/background.png');
    height: 80vh;
  }
}

@media (min-width: 992px) {
  .info-text {
    font-size: 1em;
  }
}

@media (min-width: 1200px) {
  .font-huge {
    font-size: 1.2em;
  }
}
