<header class="p-3 navbar navbar-custom navbar-expand-md navbar-dark">
  <div class="container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="align-items-center justify-content-center justify-content-lg-start collapse navbar-collapse" id="navbarTogglerDemo01">
      <a href="{{ site.baseurl }}/" class="text-decoration-none navbar-brand">
	<img src="{{ site.baseurl }}/img/logo.png" alt="" width="60" height="40"> <span class="d-none d-xl-inline">Princeton Competitive Programming</span>
      </a>

      <ul class="navbar-nav mt-2 mt-md-0 ms-md-auto">
	<li class="nav-item"><a href="{{ site.baseurl }}/fall22" class="nav-link px-2 text-white">Fall 2022</a></li>
	<li class="nav-item"><a href="{{ site.baseurl }}/resources" class="nav-link px-2 text-white">Resources</a></li>
	<li class="nav-item"><a href="{{ site.baseurl }}/icpc" class="nav-link px-2 text-white">ICPC Contests</a></li>
	<li class="nav-item"><a href="{{ site.baseurl }}/about" class="nav-link px-2 text-white">About</a></li>
	<li class="nav-item"><a href="http://princeton.acm.org/" class="nav-link px-2 text-white">ACM</a></li>
      </ul>
    </div>
  </div>
</header>
