<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% comment %}
    <div class="alert alert-warning my-0 text-center" role="alert">
      ICPC Team Local Qualifier this Friday, October 6. Information <a href="{{ site.baseurl }}/icpc23">here</a>
    </div>
    {% endcomment %}

    <div class="home-bg-image d-flex justify-content-center">
      <div class="home-div">
	<h1 class="font-huge d-flex justify-content-center">Princeton Competitive Programming</h1>

	<h3 class="d-none d-lg-block d-flex justify-content-center gap-2 title-link text-center">Organized by the <a href="http://princeton.acm.org/">ACM Student Chapter</a></h3>
	
	<div class="d-grid gap-2 d-lg-none mt-3">
	  <a class="btn btn-dark btn-lg" href="{{ site.baseurl }}/spring24" role="button">Check out our weekly event!</a>

	  <a class="btn btn-dark btn-lg" href="{{ site.baseurl }}/icpc" role="button">Learn more about the ICPC contests!</a>

<!--	  <a class="btn btn-dark btn-lg" href="{{ site.baseurl }}/interview_prep_f23" role="button">Check out our interview prep sessions!</a> -->
	</div>

	<div class="container mt-5 d-none d-lg-block">
	  <div class="row justify-content-center">
	    <div class="col-xl-4 col-lg-12 p-1">
	      <div class="p-3 icon-box shadow rounded">
		<div class="row">
		  <div class="col">
		    <p>
		      Come do Competitive Programming at Princeton! Improve
		      your coding abilities. Increase your knowledge of
		      algorithms and data structures. Learn problem solving
		      skills.
		    </p>
		  </div>
		</div>

		<div class="d-grid gap-2 align-self-end">
		  <a class="btn btn-dark btn-lg" href="{{ site.baseurl }}/spring24" role="button">Check out our weekly event! <span class="badge text-bg-light">Spring 24</span></a>
		</div>
	      </div>
	    </div>

	    <div class="col-xl-4 col-lg-12 p-1">
	      <div class="p-3 icon-box shadow rounded">
		<div class="row">
		  <div class="col">
		    <p>
		      Compete in the International Collegiate
		      Programming Contests for Princeton! The local
		      selection round is open to all Princeton students
		      and will take place on the first week of October.
		    </p>
		  </div>
		</div>

		<div class="d-grid gap-2 align-self-end">
		  <a class="btn btn-dark btn-lg" href="{{ site.baseurl }}/icpc" role="button">Learn more about the ICPC contests!</a>
		</div>
	      </div>
	    </div>

	    <!--
	    <div class="col-xl-4 col-lg-12 p-1">
	      <div class="p-3 icon-box shadow rounded">
		<div class="row">
		  <div class="col">
		    <p>
		      Practice and prepare for your technical
		      interviews in our special interview prep
		      sessions, which will happen throughout the Fall
		      semester. The first one will happen late
		      October.
		    </p>
		  </div>
		</div>

		<div class="d-grid gap-2 align-self-end">
		  <a class="btn btn-dark btn-lg" href="{{ site.baseurl }}/interview_prep_f23" role="button">See our interview prep sessions</a>
		</div>
	      </div>
	    </div>-->
	    
	  </div>
	</div>
      </div>
    </div>

    <hr class="line m-auto" />

    <div class="container content-container">
      {{ content }}
    </div>

    {% include footer.html %}

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  </body>
</html>
